<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- https://github.com/mikecao/umami -->

        <script
            async
            defer
            data-website-id="28098c62-a100-44a1-8f03-234b3f0a8194"
            src="https://stats.mirotalk.org/umami.js"
        ></script>

        <!-- Title and Icon -->

        <title>MiroTalk SFU, бесплатные видеозвонки, обмен сообщениями и демонстрация экрана</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="MiroTalk SFU на базе WebRTC и mediasoup, простые безопасные быстрые видеозвонки в реальном времени, возможности обмена сообщениями и демонстрации экрана в браузере."
        />
        <meta
            name="keywords"
            content="webrtc, miro, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk SFU" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Конференция MiroTalk SFU  обеспечивает видеозвонки в реальном времени, обмен сообщениями и совместное использование экрана."
        />
        <meta property="og:image" content="https://sfu.mirotalk.org/images/mirotalksfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="/">
                                    <img class="header-logo-image" src="../images/logo.svg" alt="mirotalk-logo" />
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="hero">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy">
                                <h1 class="hero-title mt-0">
                                    MiroTalk SFU<br />Бесплатные видеозвонки в режиме реального времени на основе браузера.<br />
                                     Просто, безопасно, быстро.
                                </h1>
                                <p class="hero-paragraph">
                                    Начните следующий видеозвонок одним щелчком мыши. Не требуется загрузки, плагина или входа в систему.
                                     Просто начните говорить, обмениваться сообщениями и делиться своим экраном.
                                </p>
                            </div>
                            <div class="hero-figure anime-element">
                                <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                    <rect width="528" height="396" style="fill: transparent" />
                                </svg>
                                <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                                <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                                <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                                <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                                <div class="hero-figure-box hero-figure-box-05"></div>
                                <div class="hero-figure-box hero-figure-box-06"></div>
                                <div class="hero-figure-box hero-figure-box-07"></div>
                                <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                                <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                                <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta section">
                    <div class="container">
                        <div class="cta-inner section-inner">
                            <h3 class="section-title mt-0">
                                 Выберите название конференции.
                            </h3>
                            <div>
                                <div class="mb-24">
                                    <label for="roomName"></label>
                                    <div class="form-group-desktop">
                                        <input class="form-input" type="text" id="roomName" value="" />
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary pulse"
                                            onclick="joinRoom()"
                                        >
                                            Войти в конференцию
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function joinRoom() {
                                                let roomName = document.getElementById('roomName').value;
                                                window.location.href = '/join/' + roomName;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="features section">
                    <div class="container-sm">
                        <div class="pricing-inner section-inner">
                            <div class="pricing-header text-center">
                                <h2 class="section-title mt-0">
                                    Неограниченное количество конференц-залов и пользователей без ограничения времени разговора!
                                </h2>
                                <p class="section-paragraph mb-0">
                                    MiroTalk со встроенным сервером SFU. Мы разработали платформу с максимальным качеством видео и
                                      с минимальной задержкой, которая делает ваши звонки кристально чистыми. Совместимость со всеми
                                     браузерами и платформами!
                                </p>
                            </div>
                            
                        </div>
                        <hr />
                    </div>

                    <div class="container">
                        <div class="features-inner section-inner has-bottom-divider">
                            <div class="features-wrap">
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-01.svg" alt="mirotalksfu-screen" />
                                        </div>
                                        <h4 class="feature-title mt-24">Демонстрация экрана</h4>
                                        <p class="text-sm mb-0">
                                            Поделитесь своим экраном, окном приложения, представьте свои документы, слайды и
                                             более.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-02.svg" alt="mirotalksfu-webcam" />
                                        </div>
                                        <h4 class="feature-title mt-24">Видео трансляция</h4>
                                        <p class="text-sm mb-0">
                                           Наличие веб-камеры позволяет участникам установить более глубокую связь с
                                             вами. Разрешение до 4к.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-03.svg" alt="mirotalksfu-audio" />
                                        </div>
                                        <h4 class="feature-title mt-24">Аудио трансляция</h4>
                                        <p class="text-sm mb-0">
                                            Эхоподавление и шумоподавление, которые делают ваш звук кристально чистым.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-04.svg" alt="mirotalksfu-chat" />
                                        </div>
                                        <h4 class="feature-title mt-24">Чат</h4>
                                        <p class="text-sm mb-0">
                                            Общайтесь с другими на собрании с помощью встроенного средства выбора смайликов, чтобы показать свои
                                             чувства.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-05.svg" alt="mirotalksfu-recording" />
                                        </div>
                                        <h4 class="feature-title mt-24">Запись встречи</h4>
                                        <p class="text-sm mb-0">
                                            Запишите свой экран, видео и аудио в BLOB-объект вашего браузера. Сохраните его для использования
                                             в будущем или поделиться с другими.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-06.svg" alt="mirotalksfu-whiteboard" />
                                        </div>
                                        <h4 class="feature-title mt-24">Доска для совместной работы</h4>
                                        <p class="text-sm mb-0">
                                             Усовершенствованная интерактивная доска для рисования и объяснения ваших концепций
                                             другим участники собрания.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-01.svg" alt="mirotalksfu-filesharing" />
                                        </div>
                                        <h4 class="feature-title mt-24">Общий доступ к файлам</h4>
                                        <p class="text-sm mb-0">
                                            Делитесь любыми типами файлов со всеми участниками собрания.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-02.svg" alt="mirotalksfu-privacy" />
                                        </div>
                                        <h4 class="feature-title mt-24">Полная конфиденциальность</h4>
                                        <p class="text-sm mb-0">
                                            Данные остаются между вами и вашими участниками. MiroTalk SFU не собирает
                                             и не передает личную информацию.
                                        </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="../images/feature-icon-03.svg" alt="mirotalksfu-security" />
                                        </div>
                                        <h4 class="feature-title mt-24">Максимальная безопасность</h4>
                                        <p class="text-sm mb-0">
                                            Благодаря WebRTC все медиапотоки шифруются с использованием Secure Real-time.
                                             Транспортный протокол (SRTP).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>

            <br />
            <br />

            <section class="cta section">
                <div class="container">
                    <h2 style="text-align: center">Попробуйте более простой и безопасный способ вызова.</h2>
                    <div style="text-align: center">
                        <a class="button button-primary button-wide-mobile pulse" href="/newroom">Попробуй сейчас</a>
                    </div>
                </div>
            </section>

            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                            <a href="/">
                                <img class="header-logo-image" src="../images/logo.svg" alt="Logo" />
                            </a>
                        </div>
                        <ul class="footer-social-links list-reset">
                            <li>
                                <a target="_blank" href="https://github.com/skorohodov97/Miratalk-RUS">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <title>GitHub</title>
                                        <path
                                            d="M7.95 0C3.578 0 0 3.578 0 7.95c0 3.479 2.286 6.46 5.466 7.553.397.1.497-.199.497-.397v-1.392c-2.187.497-2.683-.994-2.683-.994-.398-.894-.895-1.192-.895-1.192-.696-.497.1-.497.1-.497.795.1 1.192.795 1.192.795.696 1.292 1.888.894 2.286.696.1-.497.298-.895.497-1.093-1.79-.2-3.578-.895-3.578-3.976 0-.894.298-1.59.795-2.087-.1-.198-.397-.993.1-2.086 0 0 .695-.2 2.186.795a6.408 6.408 0 0 1 1.987-.299c.696 0 1.392.1 1.988.299 1.49-.994 2.186-.795 2.186-.795.398 1.093.199 1.888.1 2.086.496.597.795 1.292.795 2.087 0 3.081-1.889 3.677-3.677 3.876.298.398.596.895.596 1.59v2.187c0 .198.1.496.596.397C13.714 14.41 16 11.43 16 7.95 15.9 3.578 12.323 0 7.95 0z"
                                            fill="#0270D7"
                                        />
                                    </svg>
                                </a>
                            </li>
                            
                        </ul>
                        <div class="footer-copyright">&copy; 2022 MiroTalk SFU, все права защищены</div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="../js/landing.js"></script>
        <script src="../js/newRoom.js"></script>
    </body>
</html>
